##########################
#### Unreal Generated ####
##########################
*/Intermediate
*/Binaries
*/DerivedDataCache
*/Itermediate
*/Saved
EscapeRoomUE4/Content/StarterContent
EscapeRoomUE4/Content/StarterContent

##########################
###### VS Generated ######
##########################
*.VC.db
EscapeRoomUE4/Content/StarterContent/
